name: Snap Build

on:
  push:
  pull_request:
    types: [opened, reopened]    
  workflow_dispatch:

jobs:
  build-amd64:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - uses: canonical/action-build@v1.3.0
      id: build
    - uses: actions/upload-artifact@v4
      with:
        name: snap-amd64
        path: ${{ steps.build.outputs.snap }}
        retention-days: 5
